.h5p-hub-publish .h5p-hub-step {
  
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;

  .h5p-hub-step-icon {
    color: #303030;
    border-radius: 50%;
    border: 0.462em solid #e1e1e1;
    width: 3.2em;
    height: 3.2em;
    line-height: 2.276;
    display: inline-block;
    z-index: 1;
    position: relative;
    background: #fff;
    box-sizing: border-box;

    .h5p-hub-icon-check {
      line-height: 2.276;
    }
  }

  .h5p-hub-step-label {
    color: #757575;
    margin-top: 0.5em;
    min-width: 8em;
  }

  &.h5p-hub-active {
    color: #20d2b2;
    .step-icon {
      border-color: #20d2b2;
      color: #0ea385;
    }
  }

  &.h5p-hub-completed {
    .h5p-hub-step-icon {
      background: #0ea385;
      border-color: #20d2b2;
      color: #fff;
    }
  }
}