.h5p-hub-publish {
  .stepper {
    display: flex;
    width: 100%;
    max-width: 40em;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
  }

  .step-connector {
    flex: 1 1 auto;
  }

  .step-connector-line {
    display: block;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #bdbdbd;
  }
}