.h5p-hub-publish,
.h5p-hub-registration {
  .h5p-hub-message {
    font-size: 1em;
    border-left: 0.3em solid;
    padding: 1em;
    margin: 0.5em 0;

    &.h5p-hub-warning {
      border-color: #fdcc31;
      background: #fff8e0;
    }
    &.h5p-hub-error {
      border-color: #c1494b;
      background-color: #ece0e0;
      color: #c1494b;
    }
    &.h5p-hub-success {
      border-color: #03a953;
      background-color: #d9eae2;
    }
  }
}
