body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'h5p-hub-publish';
  src:  url('src/assets/fonts/h5p-hub-publish.eot?wy8ylc');
  src:  url('src/assets/fonts/h5p-hub-publish.eot?wy8ylc#iefix') format('embedded-opentype'),
    url('src/assets/fonts/h5p-hub-publish.ttf?wy8ylc') format('truetype'),
    url('src/assets/fonts/h5p-hub-publish.woff?wy8ylc') format('woff'),
    url('src/assets/fonts/h5p-hub-publish.svg?wy8ylc#h5p-hub') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

