@mixin arrow-right {
  color: #121212;
  font-family: 'h5p-hub-publish';
  content: '\e907';
  transform: rotate(-90deg);
  font-style: normal;
  font-size: 0.7em;
  display: inline-block;
  position: absolute;
  right: 2em;
  align-self: center;
}

.h5p-hub-publish {
  .checkbox {
    font-size: 1.05em;
    padding: 0.5em 0;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    align-self: start;
    color: #4d5057;
    width: 100%;

    &:focus {
      box-shadow: 0 0 0.4em 0.01em RGBA(26, 147, 244, 0.7);
      outline: none;
    }

    &:hover {
      &.parent:after {
        @include arrow-right;
      }
    }
    &.highlighted {
      &.parent:after {
        @include arrow-right;
      }
    }

    .content {
      display: flex;
    }

    .content-text {
      margin-left: 2em;
    }

    .bold {
      font-weight: bold;
    }

    .non-bold {
      font-weight: normal;
    }

    .content {
      .icon {
        &::before {
          font-family: 'h5p-hub-publish';
          content: '\e908';
          font-style: normal;
          font-weight: normal;
          font-size: 1em;
          margin: 0.4em 0.4em 0 0.4em;
          margin-right: 1em;
        }
      }
    }

    &.checked {
      .content {
        .icon {
          &::before {
            content: '\e909';
            font-family: 'h5p-hub-publish';
            font-style: normal;
            font-weight: normal;
            font-size: 1em;
            margin: 0.4em 0.4em 0 0.4em;
            margin-right: 1em;
          }
        }
      }
    }
  }
}
