.h5p-hub-publish .h5p-hub-chips-list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin: 0 0 0.5em;

  li {
    margin: 0;

    button {
      border-radius: 0.125em;
      margin-right: 0.5em;
      margin-top: 0.5em;
      font-style: italic;
      color: #000000;
      display: flex;
      align-items: center;
      outline: none;
      border-color: #e2e5ee;
      padding: 0.5em;
      font-size: 0.85em;

      .h5p-hub-icon-close {
        font-size: 0.8em;
        margin-left: 2em;
      }
      &:focus{
        background-color: #e8e8e8;
        border-color: #dddee2;
      }
      &:hover {
        background-color: #f5f5f5;
        border-color: #dddee2;
      }
    }
  }
}

