.h5p-hub-publish,
.h5p-hub-registration {
  .h5p-hub-image-preview {
    width: 4em;
    height: 3em;
    margin-right: 0.5em;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #d0d0d1;
  }
}