@import "../../styles/variables";

.h5p-hub-publish {
  .license-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -1em;
    .license {
      flex-grow: 1;
      min-width: 17em;
      //Make space between dropdowns that isn't showed when wrapped
      border-right: 1em solid #ffffff;
    }
    .license-version {
      flex-grow: 1;
      min-width: 17em;
      //Make space between dropdowns that isn't showed when wrapped
      border-right: 1em solid #ffffff;
    }
  }
}
