.h5p-hub-publish {
  .h5p-hub-dialog-header {
    padding: 1.708em 2.292em;
    border-bottom: 1px solid #d5d5d7;
    
    .h5p-hub-dialog-description {
      font-size: 0.833em;
      color: #707475;
    }
  }

  .h5p-hub-dialog-content {
    padding: 1.708em 2.292em;
  }

  .h5p-hub-dialog-title {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 1.458em;
      color: #1a1a1a;
      margin-bottom: 0.2em;
    }
    button {
      max-height: 2.77em;
    }
  }
}
