@import "../../styles/_variables.scss";
@import "../../styles/mixins";

.h5p-hub-publish .h5p-hub-optional {
  .h5p-hub-keywords {
    .h5p-hub-form-element label {
      margin-bottom: 0.708em;
    }
  }
  #h5p-hub-screenshots {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .h5p-hub-image-upload-container {
      margin-top: 0.4em;
    }
    .h5p-hub-row {
      margin-top: 0.5em;
      .h5p-hub-form-element {
        padding: 0;
      }
    }
    .h5p-hub-alt-text {
      padding: 0.3em;
    }
  }
  .h5p-hub-optional-second-part {
    display: flex;
    @media (max-width: $screen-small) {
      flex-wrap: wrap;
    }
  }

  #h5p-hub-form-long-description {
    height: 10.458em;
  }
  #h5p-hub-form-short-description {
    height: 6.333em;
  }
}
