@import "../../styles/_variables.scss";
@import "../../styles/mixins";

.h5p-hub-publish .optional {
  .keywords {
    .form-element label {
      margin-bottom: 0.708em;
    }
  }
  #screenshots {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .image-upload-container {
      margin-top: 0.4em;
    }
    .row {
      margin-top: 0.5em;
      .form-element {
        padding: 0;
      }
    }
    .alt-text {
      padding: 0.3em;
    }
  }
  .optional-second-part {
    display: flex;
    @media (max-width: $screen-small) {
      flex-wrap: wrap;
    }
  }

  #long-description {
    height: 10.458em;
  }
  #short-description {
    height: 6.333em;
  }
}
