.h5p-hub-publish {
  .h5p-hub-success-page {
    text-align: center;
    .h5p-hub-step-icon-success {
      font-size: 0.75em;
      border-radius: 50%;
      border: 0.462em solid #609bff;
      width: 3.2em;
      height: 3.2em;
      line-height: 2.276;
      display: inline-block;
      box-sizing: border-box;
      margin-bottom: 0.667em;
      background: #186df7;
      color: #fff;
    }
    .h5p-hub-submitted-text {
      margin-bottom: 2.167em;
      font-size: 0.75em;
      color: #186df7;
    }
    .h5p-hub-content-type {
      letter-spacing: 0.146em;
      color: #303438;
      margin-bottom: 0.7em;
    }
    .h5p-hub-title {
      font-size: 1.75em;
      margin-bottom: 0.5em;
      color: #1a1a1a;

      &.h5p-hub-is-edit {
        margin-bottom: 1.75em;
      }
    }
    .h5p-hub-now-submitted-text {
      font-size: 1.458em;
      margin-bottom: 1.75em;
      color: #1a1a1a;

      &.h5p-hub-is-edit {
        margin-bottom: .5em;
      }
    }
    .h5p-hub-content-available {
      font-size: 0.833em;
      color: #707475;
    }
  }
}
