@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "../styles/variables";

/*@font-face {
  font-family: 'h5p-hub-publish';
  src:  url('../assets/fonts/h5p-hub-publish.eot?wy8ylc');
  src:  url('../assets/fonts/h5p-hub-publish.eot?wy8ylc#iefix') format('embedded-opentype'),
    url('../assets/fonts/h5p-hub-publish.ttf?wy8ylc') format('truetype'),
    url('../assets/fonts/h5p-hub-publish.woff?wy8ylc') format('woff'),
    url('../assets/fonts/h5p-hub-publish.svg?wy8ylc#h5p-hub') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}*/

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.h5p-hub-publish, .h5p-hub-registration-wrapper  {
  position: relative;
  margin: 2em auto;
  font-family: 'Open Sans', sans-serif;
  max-width: 1024px;
  border: 1px solid #2c9586;
  border-radius: 0.167em;
  box-sizing: border-box;
  font-size: 18px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);

  .h5p-hub-header {
    padding: 1.5em;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #d5d5d7;

    .h5p-hub-title {
      font-size: 1.458em;
      flex-grow: 1;
    }
  }

  .h5p-hub-step-panel {
    margin: 2em;
    border-radius: 0.208em;
    border: 1px solid #d5d5d7;
  }

  .h5p-hub-step-title {
    color: #1a1a1a;
    font-size: 1.250em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 1.2em 1.8em;
    line-height: normal;
  }

  .h5p-hub-step-content {
    padding: 2em;
  }

  .h5p-hub-footer {
    padding: 0 2em 2em;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    .h5p-hub-navigation {
      display: flex;
      
      button:before {
        font-family: 'h5p';
        font-size: 0.75em;
        content: "\e91a";
        transform: rotate(180deg);
        display: inline-block;
        margin-right: 1em;
        line-height: 1;
        position: relative;
        top: -0.1em;
      }

      .h5p-hub-back:before {
        transform: rotate(0);
      }

      #h5p-hub-share-in-process::before {
        font-family: "h5p";
        font-size: 0.75em;
        content: "\e928";
        animation: 2s linear infinite spinner;
        top: 0.5em;
      }

      .h5p-hub-next {
        margin-left: auto;
      }
    }
  }

  .h5p-hub-tip-text-field {
    top: 1.5em;
  }

  .h5p-hub-hare-error {
    padding: 0 2em 2em;
    text-align: end;
  }

  .h5p-hub-bold {
    font-weight: bold;
  }
  .h5p-hub-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1em;

    .h5p-hub-form-element {
      flex-basis: 100%;
      flex: 1;
      min-width: 17em;
      align-self: flex-end;
      //Make space between elements that isn't showed when wrapped
      border-right: 1em solid #ffffff;

      @media (max-width: $screen-small) {
        min-width: calc(100% - 1em);
      }
    }
  }

  .h5p-hub-columns {
    display: flex;
    @media (max-width: $screen-small) {
      flex-wrap: wrap;
    }
    margin-right: -1em;
    .h5p-hub-column {
      width: 50%;
      border-right: 1em solid #ffffff;
      @media (max-width: $screen-small) {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .h5p-hub-sharing-note {
    text-align: center;
    color: #707475;
    font-size: 0.833em;
    width: calc(100% - 4.9em);
    position: absolute;
    z-index: -1;
    top: 0.65em;
    box-sizing: border-box;
    padding: 0 8em;

    .h5p-hub-icon-info:before {
      font-size: 0.5em;
      display: inline-block;
      margin-right: 1em;
      background: #d1d7e3;
      padding: 0.4em;
      border-radius: 50%;
      position: relative;
      top: -0.25em;
    }
  }

  .h5p-hub-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  [class^="h5p-hub-icon-"], [class*=" h5p-hub-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'h5p' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .h5p-hub-icon-dropdown:before {	
    content: "\e925";
  }
  .h5p-hub-icon-info:before {
    content: "\e93c";
  }
  .h5p-hub-icon-thick-arrow:before {
    content: "\e91a";
  }
  .h5p-hub-icon-check:before {
    content: "\e933";
  }
  .h5p-hub-icon-close:before {
    content: "\e93a";
  }
  .h5p-hub-icon-plus:before {
    content: "\e939";
  }
}