.h5p-hub-publish {
  .h5p-hub-accordion-heading {
    display: flex;
    align-items: center;

    .h5p-hub-icon-dropdown {
      font-size: 0.4em;
      color: #616161;
      display: inline-block;
      left: 0;
      display: flex;
      padding: 0.2em;

      &.h5p-hub-open {
        transform: rotate(90deg);
      }
    }
  }

  .h5p-hub-accordion-button {
    border: none;
    position: relative;
    padding: 0.2em;
    width: 100%;
    justify-self: start;
    display: flex;

    .h5p-hub-accordion-header {
      border: none;
      text-align: left;
      color: #616161;
    }
  }

  .h5p-hub-panel-body {
    font-size: 0.833em;
    margin: 0.8em;
    margin-bottom: 0;
    color: #707475;
    overflow: hidden;
  }
}
