@import "../../../styles/variables";

.h5p-hub-publish {
  select {
    font-size: 0.917em;
    border-radius: 0.208em;
    padding: 0.833em;
    color: #313131;
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #bebdcd;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 1.5;

    &:disabled {
      background-color: #ededed;
      &::before {
        content: "-";
      }
    }

    &::-ms-expand {
      display: none;
    }
  }

  div.h5p-hub-icon-arrow-down {
    position: relative;
    line-height: 1.1em;
    pointer-events: none;

    &:before {
      content: "\e925";
      transform: rotate(90deg);
      position: absolute;
      right: 1.5em;
      top: 1.6em;
      font-size: 0.6em;
    }
  }
}
