.h5p-hub-publish .h5p-hub-search-filter {
  position: relative;
  border-radius: 0.208em;
  font-size: 0.833em;
  border: 2px solid #e2e5ee;

  .h5p-hub-clear-button {
    background: none;
    position: absolute;
    padding: 1.6em;
    right: 3.5em;
    color: #757575;
    border: none;
    top: 50%;
    transform: translateY(-50%);

    &::before {
      content: "\e93a";
      font-family: "h5p";
      font-style: normal;
      font-size: 1em;
    }
  }
  .h5p-hub-navigate-parent {
    font-size: 1.25em;
    padding: 0.3534em;
    display: flex;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    border-top: 1px solid #e6e6e8;
    align-items: center;
    border-bottom: solid 1px #e6e6e8;

    button {
      background-color: #ffffff;
      position: relative;
      font-style: normal;
      font-size: 0.8em;
      align-self: center;
      border: none;
      padding: 0.75em;
      margin-right: 1em;
      border-radius: 50%;
      width: 2.75em;
      height: 2.75em;

      &::before {
        content: "\e937";
        font-family: "h5p";
        transform: rotate(180deg);
        font-weight: normal;
        display: inline-block;
      }
      &:hover {
        background-color: #dadada;
        cursor: pointer;
      }
    }
  }

  .h5p-hub-checkbox-list {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 25em;
    margin: 0;

    li {
      border-bottom: 1px solid #e6e6e8;
      margin: 0;

      &:last-child {
        border-bottom: none;
      }

      &:first-child {
        border-top: 1px solid #e6e6e8;
      }

      .h5p-hub-content {
        padding: 0.3em;
        .h5p-hub-label-text {
          margin: 0 0.2em 0 1em;
        }

        button {
          border-radius: 1.5em;
        }
      }
      &:focus {
        border-color: #3ba0f2;
        background-color: #fff;
        outline: none;
        box-shadow: none;
      }
      &:hover {
        background-color: #f2f2f2;
      }
      &.h5p-hub-highlighted {
        outline: 1px solid #3ba0f2;
        outline-offset: -1px;
        background-color: #fff;
        box-shadow: none;
      }
      &:hover {
        background-color: rgba(230, 230, 232, 0.25);
      }
    }

    &::-webkit-scrollbar {
      background-color: rgba(105, 117, 133, 0.25);
      width: 0.54525em;
      border-radius: 5.45256em;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #697585;
      background-size: 24px 100%;
      border-radius: 5.45256em;
    }
  }

  .h5p-hub-publish .h5p-hub-form-element input {
    border: none;
  }
}
