@mixin arrow-right {
  font-family: 'h5p';
  content: '\e58e';
  transform: rotate(90deg);
  font-style: normal;
  font-size: 1.1em;
  display: inline-block;
  align-self: center;
}

.h5p-hub-publish , .h5p-hub-registration {

  .h5p-hub-discipline-element {
    font-size: 1.05em;
    padding: 0.5em 0;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    align-self: start;
    color: #4d5057;
    width: 100%;
    position: relative;

    .h5p-hub-checkbox-error-tip {
      top: 5em;
      position: absolute;
      margin-left: 2.5em;
      z-index: 1;
    }

    &:last-child {
      .h5p-hub-checkbox-error-tip {
        top: 2.5em;
      }
    }

    &.h5p-hub-parent::after {
      @include arrow-right;
    }

    .h5p-hub-content {
      display: flex;
      align-items: center;
      margin-left: 0.5em;
    }

    .h5p-hub-bold {
      font-weight: bold;
    }

    .h5p-hub-non-bold {
      font-weight: normal;
    }

  }
}
