.h5p-hub-publish {
  .h5p-hub-keywords-input-wrapper {
    display: flex;
    align-items: center;
    border-radius: 2em;
    .h5p-hub-add-button {
      position: absolute;
      right: 4.5em;
      border-radius: 1.5em;
      padding: 0.5em 1em;
      margin-right: 0.5em;
      &.disabled {
        cursor: default;
        color: #d6d6d6;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  .h5p-hub-tip-keywords {
    top: 2.5em;
  }
}
