@import "../../styles/variables";

.h5p-hub-registration {
  .h5p-hub-message-header {
    font-weight: bold;
    font-size: 1.042em;
    font-family: 'Open Sans', sans-serif;
  }

  .h5p-hub-message-description {
    margin-top: 0.5em;
    font-size: 0.833em;
    font-family: 'Open Sans', sans-serif;

    a {
      margin-left: 0.3em;
      color: #000;
    }
  }

  .h5p-hub-email-address {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .h5p-hub-publisher-description {
    height: 10em;
  }
  .h5p-hub-logo-upload-text {
    font-size: 0.917em;
    color: #707475;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
  .h5p-hub-text-field {
    max-height: 10em;
    margin-top: 1.5em;
  }

  .h5p-hub-checkbox {
    margin-top: 1.5em;
    font-weight: normal;
    font-size: .917em;
  }

  .h5p-hub-register-hub {
    margin-left: 1em;
    border: 2px solid #186df7;
    background-color: #186df7;
    color: #fff;

    &[disabled] {
      color: #aac3ec;
      border-color: #aac3ec;
      background-color: white;
      pointer-events: none;
    }

    &:hover {
      background-color: #2e46a4;
      border-color: #2e46a4;
      color: white;
    }
  }

  .h5p-hub-footer {
    display: flex;
    justify-content: flex-end;
  }
}
